<button (click)="generateRandomNumber(1)">Chiffre aléatoire 1</button>
<button (click)="generateRandomNumber(2)">Chiffre aléatoire 2</button>

<div>Chiffre Aleatoire 1 : {{aleatoire1}}</div>
<div>Chiffre Aleatoire 2 : {{aleatoire2}}</div>

<button (click)="modifierOperateur('+')">+</button>
<button (click)="modifierOperateur('-')">-</button>
<button (click)="modifierOperateur('*')">*</button>
<button (click)="modifierOperateur('/')">/</button>
<div>Opérateur : {{operateur}}</div>

<div>Résultat : {{resultat}}</div>